.container{
    max-width: 1688px;
    padding: 0 30px;
    margin: 0 auto;
}
.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
}
.fixed-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}